.main {
  background: #e8e8e8;
  width: 100vw;
  height: 100vh;
  color: #0b0b0b;
  box-sizing: content-box;
}

.character-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
